.gridmain{
    display:grid ;
    grid-template-columns:auto auto auto ;
    background-color: aqua;
    grid-gap: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.griditem{
    background-color: brown;
    padding: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}