p{
    margin-bottom: 300px;
    margin-top: 200px;
}

h1{
    display: inline;
    background-color: blue;
    border: 10px solid black;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 150px;
}
ul{
    list-style: none;
    display: flex;
    gap: 80px;
    margin-right: 40px;
}
a{
    text-decoration: none;
    font-size: 25px;
}
img{
    border-radius: 50px;
    margin-left: 20px;
    margin-left: 20

}