.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px
    ;
}

.grid.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}