body{
    margin: 0px;
    padding: 0px;
 
}

#nav{
    display: flex;
background-color: darkblue;
justify-content: space-between;
align-items: center;
margin-top: 0px;
gap: 5px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 900px;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
}
img{
    border-radius: 50px;
    margin-left: 20px;
    background-color: darkblue;
}
button{
    margin-right: 10px;
    border: 0px;
    display: flex;
}
#footer{
    margin: 0px;
    padding: 0px;
    background-color: rgb(123, 50, 58);
   bottom: 0;
   position: fixed;
   width: 100%;
   display: flex;
   align-items: center;
   gap: 10px;
}
 
p{
    font-size: 30px;
}
#link{
    display: flex;
    gap: 10px;
}
#post{
    
    text-align: center;
    margin-right: 0;
    width: 100%;
}
#co{
    margin-left: 10px;
}
.ab{
    display: flex;
    gap: 10px;
    margin-right: 10px;
}
#ta table a{
    color: blue 
}
#ta table img {
    width: 100px;
    border-radius: 0;
}
#ta {
  margin-bottom: 0;

}
#ta table {
  margin: 0;
  padding: 0;  
  width: 200%;
  margin-left: 5px;
}
#ca{ 
    background-color: chartreuse;
    text-align: center;
}
#bg{
    display: flex;
    gap: 10px;
}
.s{
    margin-left: 350px;
    margin-top: 10px;
   margin-bottom: 20px;
}
