body{
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
}
#maingrid{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                          'left main main right '
                          'footer footer footer footer'  ;
                          grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
}
#navbar{
    display: flex;
    height:200px ;
    width: 100%;
    background-color: aqua;
    grid-area: nav;
    justify-content: space-between;
   
}
#navbar img{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 250px;
}
#navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 10px;
    margin-top: 100px;
}
#navbar a{
    
    text-decoration: none;
}
#left{
    height: 400px;
    width: 100%;
    background-color: beige;
    
}
#left ul {
   
    
}
#main{
     height: 400px;
    width: 100%;
    background-color: blue;
    grid-area: main;
    display: flex;
    flex-direction: column;
}
#o img{
height: 100px;
width: 100px;
}
#t img {
   height: 150px;
width: 100px; 
margin-top: 50px;
}
#o{
    display: flex;
   
}
#t{
    display: flex;
    height: 400px;
    width: 600px;
}
#right{
     height: 400px;
    width: 100%;
    background-color: brown;
    grid-area:right ;
}
#footer{
     height: 100px;
    width: 100%;
    background-color: blueviolet;
    grid-area: footer;
}